<h2>Listado de Videojuegos</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Valoración media</th>
        </tr>
    </thead>
    <tbody>
        <!--Recorremos la lista y si pulsamos en alguna fila, ejecutaremos el método "mostrarDetalle",
        pasandole el videojuego seleccionado con sus datos-->
        <tr routerLink="/detalle/{{ videojuego.id }}/{{ videojuego.titulo }}/{{ videojuego.compania }}/{{ videojuego.imagen }}/{{ videojuego.valoracionMedia }}" *ngFor="let videojuego of listaVideojuegos" (click)="seleccionar(videojuego)">
            <td>{{ videojuego.id }}</td>
            <td>{{ videojuego.titulo }}</td>
            <td>{{ videojuego.valoracionMedia }}</td>
        </tr>
        <tr *ngIf="listaVideojuegos.length===0">
            <td class="rojo" colspan="4">
                NO SE HAN ENCONTRADO VIDEOJUEGOS
            </td>

        </tr>
    </tbody>
</table>


<h3>Haz click encima de un juego para verlo en detalle</h3>

